<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="URF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content ">
                        <!-- <% console.log(error) %> -->
                        <% if (error !== null) { %> 
                            <div class="row teal lighten-4">
                                <div class="col s12">
                                    <p class="center-align"><%= error %></p>
                                </div>
                            </div>
                        <% } %> 
                        <span class="card-title">ToDo List</span>
                        <div class="row">
                            <form class="col s12" method="post" action="/update/<%= taskId %>">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="<%= taskName %>" id="task" type="text" name="task">
                                        <label for="task">Update Task</label>
                                    </div>
                                </div>
                                <input type="submit" value="Update Task" class="btn">
                                <a class="btn" href="/">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <!-- end -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>